This notebook has some exploration code for getting correct values for test cases etc.

In [1]:
library(tidyverse)

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 2.2.1     v purrr   0.2.4
v tibble  1.4.1     v dplyr   0.7.4
v tidyr   0.7.2     v stringr 1.2.0
v readr   1.1.1     v forcats 0.2.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [4]:
ratings = read_csv('ml-latest-small/ratings.csv') %>%
    rename(user=userId, item=movieId)
head(ratings)

Parsed with column specification:
cols(
  userId = col_integer(),
  movieId = col_integer(),
  rating = col_double(),
  timestamp = col_integer()
)

  user item rating timestamp
1 1      31 2.5    1260759144
2 1    1029 3.0    1260759179
3 1    1061 3.0    1260759182
4 1    1129 2.0    1260759185
5 1    1172 4.0    1260759205
6 1    1263 2.0    1260759151

In [5]:
item_stats = ratings %>% group_by(item) %>%
    summarize(RatingCount=n(), MeanRating=mean(rating))
item_stats %>% arrange(-RatingCount) %>% head(10)

   item RatingCount MeanRating
1   356 341         4.054252
2   296 324         4.256173
3   318 311         4.487138
4   593 304         4.138158
5   260 291         4.221649
6   480 274         3.706204
7  2571 259         4.183398
8     1 247         3.872470
9   527 244         4.303279
10  589 237         4.006329

In [15]:
user_stats = ratings %>% group_by(user) %>%
    summarize(RatingCount=n(), MeanRating=mean(rating))
head(user_stats)

  user RatingCount MeanRating
1 1     20         2.550000
2 2     76         3.486842
3 3     51         3.568627
4 4    204         4.348039
5 5    100         3.910000
6 6     44         3.261364

Let's get user-normed ratings.

In [16]:
user_normed = ratings %>% inner_join(user_stats %>% select(user, MeanRating)) %>%
    mutate(rating = rating - MeanRating) %>%
    select(user, item, rating)
head(user_normed)

Joining, by = "user"

  user item rating
1 1      31 -0.05
2 1    1029  0.45
3 1    1061  0.45
4 1    1129 -0.55
5 1    1172  1.45
6 1    1263 -0.55

## User-User CF test cases

First test case: user 4, item 1016.

Get info for users rating 1016, so we can compute correct CF results.

In [27]:
lim_rates = ratings %>% filter(item == 1016) %>% select(user) %>%
    inner_join(user_normed) %>%
    group_by(user) %>%
    mutate(nr=rating / sqrt(sum(rating * rating)))
print(lim_rates)

Joining, by = "user"

# A tibble: 5,262 x 4
# Groups: user [10]
    user  item rating      nr
   <int> <int>  <dbl>   <dbl>
 1     4    10 -0.348 -0.0258
 2     4    34  0.652  0.0483
 3     4   112  0.652  0.0483
 4     4   141  0.652  0.0483
 5     4   153 -0.348 -0.0258
 6     4   173 -1.35  -0.0998
 7     4   185 -1.35  -0.0998
 8     4   260  0.652  0.0483
 9     4   289 -0.348 -0.0258
10     4   296  0.652  0.0483
# ... with 5,252 more rows

In [30]:
sims = lim_rates %>% select(u1=user, item, u1nr=nr) %>%
    inner_join(lim_rates %>% select(u2=user, item, u2nr=nr)) %>%
    filter(u1 != u2) %>%
    group_by(u1, u2) %>%
    summarize(sim=sum(u1nr * u2nr))
print(sims)

Joining, by = "item"

# A tibble: 90 x 3
# Groups: u1 [?]
      u1    u2    sim
   <int> <int>  <dbl>
 1     4    99 0.0311
 2     4   239 0.0644
 3     4   311 0.0225
 4     4   358 0.0982
 5     4   518 0.114
 6     4   551 0.0100
 7     4   564 0.0437
 8     4   603 0.0614
 9     4   646 0.0250
10    99     4 0.0311
# ... with 80 more rows

In [31]:
basis = sims %>% filter(u1 == 4) %>%
    select(u1, user=u2, sim) %>%
    inner_join(user_normed) %>%
    filter(item == 1016)
basis

Joining, by = "user"

  u1 user sim        item rating
1 4   99  0.03108641 1016 -1.4308511
2 4  239  0.06438670 1016 -0.7079038
3 4  311  0.02249353 1016 -1.0063788
4 4  358  0.09821867 1016 -0.1831442
5 4  518  0.11448729 1016 -1.5728430
6 4  551  0.01003771 1016  0.6000000
7 4  564  0.04373835 1016  0.4475375
8 4  603  0.06135812 1016 -0.8684211
9 4  646  0.02495728 1016 -0.1301775

In [34]:
sum(basis$sim * basis$rating) / sum(basis$sim) + filter(user_stats, user == 4)$MeanRating

[1] 3.622216

### Find items with few common users to 4

In [35]:
user4 = user_normed %>% filter(user == 4)

In [37]:
user4 %>% select(item) %>% inner_join(user_normed) %>%
    filter(user != 4) %>%
    group_by(item) %>%
    summarize(UserCount=n()) %>%
    arrange(UserCount)

Joining, by = "item"

    item UserCount
1   2091  2
2   2659  2
3   2903  2
4   2902  3
5   1858  5
6   3040  5
7   3208  5
8   1332  6
9   2102  6
10  2263  7
11   464  8
12  1011  8
13  2034  8
14  2877  8
15  4006  8
16  1016  9
17  2822  9
18  2867  9
19  3251  9
20  3265  9
21  2348 10
22  3071 10
23  2033 11
24  2551 11
25  3169 12
26   289 13
27  2454 13
28  1194 14
29  1334 14
30  2014 14
... ...  ...
174 1089 131
175 2918 132
176 2628 137
177 1136 144
178  541 145
179 1291 146
180 2716 146
181   34 147
182 1073 147
183 1036 150
184  367 156
185 1240 157
186 1097 159
187 1197 162
188 1265 164
189 1580 189
190  380 197
191  364 199
192  858 199
193  590 201
194  588 214
195 1210 216
196 1198 219
197 1270 225
198 1196 233
199  589 236
200  480 273
201  260 290
202  296 323
203  356 340